.cell {
  width: 64px;
  height: 64px;
  border: 1px solid black;
  display: inline-block;
  background: black;
}
.cell.toggled {
  background: white;
}

.row {
  height: 64px;
}

.code_display {
  font-family: monospace;
  padding: 16px;
  background: #484848;
  border: 1px solid black;
  color: white;
  white-space: pre;
  text-align: left;
}
